@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@font-face {
  font-family: 'Helvetica Neue Custom';
  src: url('/fonts/HelveticaNeueLight.otf') format('opentype');
  font-weight: 300; /* Light */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue Custom';
  src: url('/fonts/HelveticaNeueLight.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue Custom';
  src: url('/fonts/HelveticaNeueMedium.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Helvetica Neue Custom', Arial, Helvetica, sans-serif;
}
